#cardProduct{
    width: 300px;
    height: auto;
    margin: 1rem;
    border:1px solid #000 ;
    border-radius: 25px;
    display: flex;
    padding: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#divProduct {
    display: flex;
    flex-wrap: wrap;
}

#imagen{
    width: 7rem;
    margin-bottom: 0px;
}